    <h1>Aplikacja w stylu kontakty</h1>
    <p>
      To jest stronka w ruby on rails na zaliczenie oparta na:
      <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    prosta aplikacja.
    </p>
<%= link_to "Sign up now!", '#', :class => "signup_button round" %>
