<h1>Pomoc</h1>
<p>
  Wszystkie pomocne materialy sa tu:
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  A to jest warte polecenia
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
